.svn
dist
target
**/target
**/build.log

#ignore eclipse
.settings
.project
.classpath
.manager
.externalTool*
bin

#ignore idea
*.iml
*.ipr
*.iws

#maven
pom.xml.releaseBackup
release.properties
/src/it/test-proguard/build.log
/src/it/test-packlzma/build.log
/src/it/test-packgz/build.log
/src/it/test-2/build.log
/src/it/test-1/build.log
