<?xml version="1.0" encoding="utf-8"?>

<?php
// https://jdk6.dev.java.net/plugin2/
// https://jdk6.dev.java.net/plugin2/jnlp/#CODEBASE

$url = "file://" . str_replace("\\", "/", __FILE__);
if (isset($_SERVER['SERVER_ADDR'])) {
  $url = "http://" . $_SERVER['SERVER_ADDR'] . ":" . $_SERVER['SERVER_PORT'] . $_SERVER['REQUEST_URI'];
  header('Content-type: application/x-java-jnlp-file');
}
$codebase = "";
$href = $url;
$pos = strrpos($url, "/");
if ($pos === false) {
  // not found...
} else {
  $codebase = substr($url, 0, $pos+1);
  $href = substr($url, $pos +1);
}

?>

<jnlp spec="1.0+" codebase="<?=$codebase?> "href="<?=$href?>">
  <information>
    <title>Title</title>
    <homepage href="${project.url}"/>
    <vendor>${project.organization.name}</vendor>
    <description kind="one-line">${project.name}</description>
    <description kind="short">${project.description}</description>
    <!--icon width="35" height="26" href="images/icon.gif"/-->
    <!--icon kind="splash" href="images/icon.jpg"/-->
    <!--offline-allowed/-->
  </information>
  <security>
    <all-permissions/>
  </security>
  <resources>
    <j2se version="1.6+" initial-heap-size="64m" max-heap-size="512m" />
    <property name="jnlp.packEnabled" value="${packEnabled}"/>
    <property name="jnlp.versionEnabled" value="${versionEnabled}"/>
    <property name="sun.java2d.noddraw" value="true"/>

#set( $native = ["linux", "macosx", "win32"] )##
#foreach( $dependency in ${dependencies} )##
#if ( ! $native.contains($dependency.classifier))##
    <jar ${jws.addJar($dependency)} />
#end##
#end##
  </resources>

  <resources os="Mac Os X" >
#foreach( $dependency in ${dependencies} )##
#if ($dependency.classifier == "macosx")##
    <nativelib ${jws.addJar($dependency)} />
#end##
#end##
  </resources>

  <resources os="Windows" >
#foreach( $dependency in ${dependencies} )##
#if ($dependency.classifier == "win32")##
    <nativelib ${jws.addJar($dependency)} />
#end##
#end##
  </resources>

  <resources os="Linux" >
#foreach( $dependency in ${dependencies} )##
#if ($dependency.classifier == "linux")##
    <nativelib ${jws.addJar($dependency)} />
#end##
#end##
  </resources>


  <applet-desc name="MainApplet" main-class="${mainClass}" width="955" height="600">
  </applet-desc>
</jnlp>
